/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {

  /* background-color: #B18ED1; */

  background-image: url("90s_cup_pattern_tiled.jpg");
  background-size: ;
  margin: 0;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}

.topnav {
  /* position: fixed; 
  top: 0; 
  width: 100%; */
  overflow: hidden;
  /* background-color: #179EB7; */
  background: linear-gradient(200deg, #E500F2, #00DCF3, #B400C6);
  background-size: 100% 1300%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  border-bottom: 1px solid black;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #D60059;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

    /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn a {
  padding: 0px
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #D60059;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2E32D9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D60059;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





/* testing stuff */

.index-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  margin-top: 20px;
  // max-height: 1000px;
  overflow: hidden;
  overflow: auto;
  // padding-top: 250px;
  // background-color: red;
}

.index-tile {
  max-width: 320px;
  border-radius: 25px;
  padding: 20px;
  margin: 6px;
  // background-color: lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
}

.index-tile em {
  font-weight: bold;
  color: #1A1C8D;
  text-shadow: 1px 1px white;
}

.index-tile p {
  text-shadow: 1px 1px white;
}

.index-tile img {
  width:300px;
  border:1px solid black;
}

.year-header {
  text-align: center;
  font-size: 50px;
}

.subject-header {
  text-align: center;
  font-size: 35px;
}

.enter-info-page {
  text-align: center;
  margin-top: 40px;
}
.enter-info-form {
  font-size: 20px;
  text-shadow: 2px 2px white;
  width: 400px;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  // background-color: lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-page-welcome {
  text-align: center;
  margin-top: 40px;
}

.home-page-blurb {
  max-width: 400px;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  // background-color: lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
}

.home-page-blurb p {
  font-size: 18px;
  text-shadow: 1px 1px white;
}

.years-page-header {
  text-align: center;
  margin-top: 40px;
}

.years-box {
  max-width: 120px;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  // background-color: lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.75);
}

.years-box li {
  font-size: 23px;
  padding: 5px;
}

h1 {
  text-shadow: 2px 2px white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgray;
}

h2 {
  text-shadow: 2px 2px white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgray;
}

li:before {
  content: '\1F919';
  margin-left: -35px;
  margin-right: 10px;
  }

  .right {
    float: right;
    padding-right: 200px;
    padding-top: 10px;
    margin: 0px;
    color: #f2f2f2;
    font-size: 25px;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }

.go-add-favorites {
  /* text-align: center; */

  font-size: 40px;
  margin-top: 170px;
  text-align: center;
  animation-name: spin1,depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes spin1 {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

/* @keyframes spin2 {
  from { transform: rotateY(-90deg); }
  to { transform: rotateY(0deg); }
} */

@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}
